@use '../util' as *;

.btn {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: rem(1) solid transparent;
  border-radius: rem(10);
  transition: var(--transition);
  font: var(--text-preset-4-b);

  & + .btn {
    margin-inline-start: rem(20);
  }

  &-primary,
  &-secondary,
  &-destroy {
    padding-inline: rem(16);
    height: rem(53);
  }

  &-primary {
    background-color: var(--grey-900);
    border-color: var(--grey-900);
    color: var(--white);

    &:hover,
    &:active,
    &:focus-visible {
      background-color: var(--grey-500);
      border-color: var(--grey-500);
    }
  }

  &-secondary {
    background-color: var(--beige-100);
    border-color: var(--beige-100);
    color: var(--grey-900);

    &:hover,
    &:active,
    &:focus-visible {
      background-color: transparent;
      border-color: var(--beige-500);
    }
  }

  &-destroy {
    background-color: var(--red);
    border-color: var(--red);
    color: var(--white);

    &:hover,
    &:active,
    &:focus-visible {
      background-color: hsl(from var(--red) h s 70%);
      border-color: hsl(from var(--red) h s 70%);
    }
  }

  &-tertiary {
    color: var(--grey-500);
    gap: rem(12);

    &:hover,
    &:active,
    &:focus-visible {
      color: var(--grey-900);

      svg path {
        fill: var(--grey-900);
        transition: var(--transition);
      }
    }
  }
}
