@use '../util' as *;

.hero {
  &-wrapper {
    width: 100%;
    background-color: var(--grey-900);
    border-bottom-right-radius: rem(12);
    border-bottom-left-radius: rem(12);
    padding: rem(24) rem(40);

    &-body {
      display: none;
    }

    svg {
      margin-inline: auto;
    }
  }
  @include breakpoint(desktop) {
    max-width: rem(600);
    padding: rem(20);

    &-wrapper {
      border-radius: rem(12);
      position: relative;

      img {
        position: absolute;
        top: 0;
      }
    }
  }
}
