@use '../util' as *;

:root {
  --white: #ffffff;

  // Beige
  --beige-500: #98908b;
  --beige-100: #f8f4f0;

  // Greys
  --grey-900: #201f24;
  --grey-500: #696868;
  --grey-300: #b3b3b3;
  --grey-100: #f2f2f2;

  // Secondary colors
  --green: #277c78;
  --yellow: #f2cdac;
  --cyan: #82c9c7;
  --navy: #626070;
  --red: #c94736;
  --purple-200: #826cb0;

  // Other colors
  --purple-100: #af81ba;
  --turquoise: #597c7c;
  --brown: #93674f;
  --magenta: #934f6f;
  --blue: #3f82b2;
  --navy-grey: #97a0ac;
  --army-green: #7f9161;
  --gold: #cab361;
  --orange: #be6c49;

  // Typography
  --ff-primary: 'Public Sans', sans-serif;
  --text-preset-1: normal normal 700 #{rem(32)} / 120% var(--ff-primary);
  --text-preset-2: normal normal 700 #{rem(20)} / 120% var(--ff-primary);
  --text-preset-3: normal normal 700 #{rem(16)} / 150% var(--ff-primary);
  --text-preset-4: normal normal 400 #{rem(14)} / 150% var(--ff-primary);
  --text-preset-4-b: normal normal 700 #{rem(14)} / 150% var(--ff-primary);
  --text-preset-5: normal normal 400 #{rem(12)} / 150% var(--ff-primary);
  --text-preset-5-b: normal normal 700 #{rem(12)} / 150% var(--ff-primary);

  // Transitions
  @media (prefers-reduced-motion: no-preference) {
    --transition: all 0.3s ease-in-out;
  }

  @media (prefers-reduced-motion: reduce) {
    --transition: none;
  }
}

/* 

caret-down: data:image/svg+xml;base64,PHN2ZyBmaWxsPSJub25lIiBoZWlnaHQ9IjYiIHZpZXdCb3g9IjAgMCAxMiA2IiB3aWR0aD0iMTIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0ibTExLjM1MzguODUzNzUtNS4wMDAwMiA1Yy0uMDQ2NDQuMDQ2NDktLjEwMTU4LjA4MzM3LS4xNjIyOC4xMDg1M3MtLjEyNTc2LjAzODExLS4xOTE0Ny4wMzgxMS0uMTMwNzctLjAxMjk1LS4xOTE0Ny0uMDM4MTEtLjExNTg1LS4wNjIwNC0uMTYyMjgtLjEwODUzbC01LjAwMDAwMi01Yy0uMDcwMDA2LS4wNjk5MjctLjExNzY5LS4xNTkwNTQtLjEzNzAxNS0uMjU2MDk2LS4wMTkzMjUtLjA5NzA0My0uMDA5NDIzLS4xOTc2MzguMDI4NDUzLS4yODkwNDkuMDM3ODc3LS4wOTE0MTIuMTAyMDI0LS4xNjk1My4xODQzMi0uMjI0NDY1LjA4MjI5Ny0uMDU0OTM1NC4xNzkwNDQtLjA4NDIxNzcxLjI3Nzk5NC0uMDg0MTM5ODVoOS45OTk5N2MuMDk5LS4wMDAwNzc4Ni4xOTU3LjAyOTIwNDQ1LjI3OC4wODQxMzk4NS4wODIzLjA1NDkzNS4xNDY1LjEzMzA1My4xODQzLjIyNDQ2NS4wMzc5LjA5MTQxMS4wNDc4LjE5MjAwNi4wMjg1LjI4OTA0OS0uMDE5My4wOTcwNDItLjA2Ny4xODYxNjktLjEzNy4yNTYwOTZ6IiBmaWxsPSIjMjAxZjI0Ii8+PC9zdmc+

caret-left: data:image/svg+xml;base64,PHN2ZyBmaWxsPSJub25lIiBoZWlnaHQ9IjExIiB2aWV3Qm94PSIwIDAgNiAxMSIgd2lkdGg9IjYiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0ibTUuMTQ2NTYgMTAuODUzNS01LjAwMDAwNS00Ljk5OTk3Yy0uMDQ2NDg4LS4wNDY0My0uMDgzMzY3Ni0uMTAxNTgtLjEwODUyOTgtLjE2MjI4LS4wMjUxNjIzLS4wNjA2OS0uMDM4MTEyNjktLjEyNTc2LS4wMzgxMTI3LS4xOTE0NyAwLS4wNjU3LjAxMjk1MDQtLjEzMDc3LjAzODExMjYtLjE5MTQ3LjAyNTE2MjMtLjA2MDY5LjA2MjA0MTktLjExNTg0LjEwODUyOTktLjE2MjI4bDQuOTk5OTk1LTQuOTk5OTk3Yy4wNjk5My0uMDcwMDA1Mi4xNTkwNi0uMTE3Njg5LjI1NjEtLjEzNzAxNDE5LjA5NzA0LS4wMTkzMjUyMS4xOTc2NC0uMDA5NDIyOS4yODkwNS4wMjg0NTMyOS4wOTE0MS4wMzc4NzYzLjE2OTUzLjEwMjAyMjkuMjI0NDcuMTg0MzE5OS4wNTQ5My4wODIyOTcuMDg0MjEuMTc5MDQ0LjA4NDE0LjI3Nzk5MXYxMC4wMDAwMTdjLjAwMDA3LjA5ODktLjAyOTIxLjE5NTctLjA4NDE0LjI3OC0uMDU0OTQuMDgyMy0uMTMzMDYuMTQ2NC0uMjI0NDcuMTg0M3MtLjE5MjAxLjA0NzgtLjI4OTA1LjAyODRjLS4wOTcwNC0uMDE5My0uMTg2MTctLjA2Ny0uMjU2MDktLjEzN3oiIGZpbGw9IiM2OTY4NjgiLz48L3N2Zz4=

caret-right: data:image/svg+xml;base64,PHN2ZyBmaWxsPSJub25lIiBoZWlnaHQ9IjExIiB2aWV3Qm94PSIwIDAgNiAxMSIgd2lkdGg9IjYiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0ibS44NTM1MDYuMTQ2NDY1IDUuMDAwMDA0IDUuMDAwMDA1Yy4wNDY0OC4wNDY0My4wODMzNi4xMDE1OC4xMDg1My4xNjIyOC4wMjUxNi4wNjA2OS4wMzgxMS4xMjU3Ni4wMzgxMS4xOTE0NyAwIC4wNjU3LS4wMTI5NS4xMzA3Ny0uMDM4MTEuMTkxNDctLjAyNTE3LjA2MDY5LS4wNjIwNS4xMTU4NC0uMTA4NTMuMTYyMjhsLTUuMDAwMDA0IDUuMDAwMDNjLS4wNjk5MjcuMDctLjE1OTA1NC4xMTc3LS4yNTYwOTcuMTM3LS4wOTcwNDIuMDE5My0uMTk3NjM3LjAwOTQtLjI4OTA0OC0uMDI4NS0uMDkxNDEyLS4wMzc4LS4xNjk1My0uMTAyLS4yMjQ0NjUyLS4xODQzLS4wNTQ5MzU0LS4wODIzLS4wODQyMTc2Ny0uMTc5LS4wODQxMzk4MS0uMjc4bC0uMDAwMDAwNDMtOS45OTk5ODRjLS4wMDAwNzc4OC0uMDk4OTQ5LjAyOTIwNDQ0LS4xOTU2OTUuMDg0MTM5ODQtLjI3Nzk5Mi4wNTQ5MzU2LS4wODIyOTcuMTMzMDUzNi0uMTQ2NDQzMS4yMjQ0NjQ2LS4xODQzMTkzLjA5MTQxMi0uMDM3ODc2MTEuMTkyMDA3LS4wNDc3NzkwNy4yODkwNDktLjAyODQ1MzgxLjA5NzA0Mi4wMTkzMjUyMS4xODYxNjkuMDY3MDA4MDEuMjU2MDk3LjEzNzAxNDExeiIgZmlsbD0iIzY5Njg2OCIvPjwvc3ZnPg==

*/
